# @tech_uzbot tokeni
BOT_TOKEN=123456789:AABBccddeeff

# Yopiq kanal ID (manfiy son)
CHANNEL_ID=-1001234567890

# Firebase Realtime Database URL
FIREBASE_DB_URL=https://your-project-default-rtdb.firebaseio.com

# Firebase Service Account JSON (bir qatorda)
FIREBASE_SA={"type":"service_account","project_id":"...","private_key":"...","client_email":"..."}
